.Btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    margin-top: 0.5em;
    border-radius: 10px;
    align-self: center;
    font-size: 20
}

.vermelho{
    background-color:  rgb(255, 0, 0);
}

.verde{
    background-color:  green;
}

.Btn:hover{
    cursor: pointer;
    color: cadetblue;
}